<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pl.model.dao.PLDAO">

<resultMap type="pl.model.dto.PLCategoryDTO" id="categoryResultMap">
	<id property="category_code" column="CATEGORY_CODE"/>
	<result property="category_name" column="CATEGORY_NAME"/>
</resultMap>

<resultMap type="pl.model.dto.PLTagDTO" id="tagResultMap">
	<id property="tag_code" column="TAG_CODE"/>
	<result property="tag_name" column="TAG_NAME"/>
</resultMap> 
<resultMap type="pl.model.dto.PLListAllDTO" id="plListAllResultMap">
	<id property="pl_no" column="PL_NO"/>
	<result property="rownum" column="ROWNUM"/>
	<result property="pl_name" column="PL_NAME"/>
	<result property="pl_address" column="PL_ADDRESS"/>
	<result property="pl_tel" column="PL_TEL"/>
	<result property="score" column="SCORE"/>
	<result property="pl_reserve" column="PL_RESERVE"/>
	<collection property="category" resultMap="categoryResultMap"/> 
	<collection property="tag" resultMap="tagResultMap"/>
</resultMap>


	<select id="selectAllName" resultMap="plListAllResultMap">
		
		SELECT 
			ROWNUM,
			A.*
		FROM (
				SELECT 
					A.*,
					B.*,
					C.*
				FROM PLACE_LIST A
				JOIN CATEGORY B ON A.PL_CATECODE = B.CATEGORY_CODE 
				JOIN TAG C ON A.PL_TAGCODE = C.TAG_CODE
			 	ORDER BY A.PL_NAME 
		) A
		
	</select>


	<select id="selectAllAddress" resultMap="plListAllResultMap">
		SELECT 
			ROWNUM,
			A.*
		FROM (
			 	SELECT 
					A.*,
					B.*,
					C.*
				FROM PLACE_LIST A
				JOIN CATEGORY B ON A.PL_CATECODE = B.CATEGORY_CODE 
				JOIN TAG C ON A.PL_TAGCODE = C.TAG_CODE
			 	ORDER BY PL_ADDRESS 
		) A
	</select>
	
	
	<select id="selectAllScore" resultMap="plListAllResultMap">
		SELECT  
			ROWNUM,
			SS.*
		FROM (
				SELECT 
					A.*,
					B.*,
					C.*
				FROM PLACE_LIST A
				JOIN CATEGORY B ON A.PL_CATECODE = B.CATEGORY_CODE 
				JOIN TAG C ON A.PL_TAGCODE = C.TAG_CODE
				ORDER BY A.SCORE DESC
			) SS
	</select>
	
	<select id="selectAllCategory" resultMap="plListAllResultMap">
		SELECT  
			ROWNUM,
			CS.*
		FROM (
				SELECT 
					A.*,
					B.*,
					C.*
				FROM PLACE_LIST A
				JOIN CATEGORY B ON A.PL_CATECODE = B.CATEGORY_CODE 
				JOIN TAG C ON A.PL_TAGCODE = C.TAG_CODE 
				ORDER BY A.PL_CATECODE
			)CS
	</select>


	<insert id="saveMyList" parameterType="pl.model.dto.PLListAllDTO">
		INSERT INTO MY_LIST A
		(
			A.MY_NO ,
			A.MY_NAME ,
			A.MY_ADDRESS ,
			A.MY_TEL ,
			A.MY_SCORE ,
			A.MY_CATECODE ,
			A.MY_TAGCODE ,
			A.MY_RESERVE
		)
		VALUES 
		(
			SEQ_MY_NO.NEXTVAL ,
			#{ pl_name } ,
			#{ pl_address } ,
			#{ pl_tel } ,
			#{ score } ,
			#{ pl_catecode } ,
			#{ pl_tagcode } ,
			#{ pl_reserve } 
		)
	</insert>
	



<resultMap type="pl.model.dto.PLListAllDTO" id="myListAllResultMap">
	<id property="pl_no" column="MY_NO"/>
	<result property="rownum" column="ROWNUM"/>
	<result property="pl_name" column="MY_NAME"/>
	<result property="pl_address" column="MY_ADDRESS"/>
	<result property="pl_tel" column="MY_TEL"/>
	<result property="score" column="MY_SCORE"/>
	<result property="pl_reserve" column="MY_RESERVE"/>
	<collection property="category" resultMap="myCategoryResultMap"/>
	<collection property="tag" resultMap="myTagResultMap"/>
</resultMap>

<resultMap type="pl.model.dto.PLCategoryDTO" id="myCategoryResultMap">
	<id property="category_code" column="CATEGORY_CODE"/>
	<result property="category_name" column="CATEGORY_NAME"/>
</resultMap>

<resultMap type="pl.model.dto.PLTagDTO" id="myTagResultMap">
	<id property="tag_code" column="TAG_CODE"/>
	<result property="tag_name" column="TAG_NAME"/>
</resultMap>

	<select id="selectAllPlace" resultMap="myListAllResultMap">
		SELECT * 
		FROM MY_LIST a
		JOIN CATEGORY b ON a.MY_CATECODE = b.CATEGORY_CODE
		JOIN TAG c ON a.MY_TAGCODE = c.TAG_CODE
	</select>
	
	<update id="renamePL" parameterType="pl.model.dto.PLListAllDTO">
		UPDATE MY_LIST M SET
		 M.MY_NAME = #{ pl_name } ,
		 M.MY_ADDRESS = #{ pl_address } ,
		 M.MY_TEL = #{ pl_tel } ,
		 M.MY_SCORE = #{ score } ,
		 M.MY_CATECODE = #{ pl_catecode } ,
		 M.MY_RESERVE = #{ pl_reserve } ,
		 M.MY_TAGCODE = #{ pl_tagcode } 
		 WHERE M.MY_NO = #{ pl_no } 
	
	</update>
	<insert id="insertPlace" parameterType="pl.model.dto.PLListAllDTO">
		INSERT INTO MY_LIST M
		(
		    M.MY_NO ,
			M.MY_NAME ,
			M.MY_ADDRESS ,
			M.MY_TEL ,
			M.MY_SCORE ,
			M.MY_CATECODE ,
			M.MY_TAGCODE ,
			M.MY_RESERVE
		)
		VALUES	
		(
			SEQ_MY_NO.NEXTVAL ,
			#{ pl_name } ,
			#{ pl_address } ,
			#{ pl_tel } ,
			#{ score } ,
			#{ pl_catecode },
			#{ pl_tagcode },
			#{ pl_reserve } 
			
		)
	</insert>
	
<resultMap type = "pl.model.dto.PLListAndReserveDTO" id = "reserveResultMap">
		<id property = "reserve_no" column = "RESERVE_NO"/>
		<result property = "user_no" column ="USER_NO"/>
		<result property = "my_no" column ="MY_NO"/>
		<result property = "reserve_day" column ="RESERVE_DAY"/>
		<result property = "reserve_time" column ="RESERVE_TIME"/>
	
	<association property="listDTO" resultMap="PllistResultMap"/>
	</resultMap>
<resultMap type="pl.model.dto.PLListAllDTO" id="PllistResultMap">
	<id property="pl_no" column="MY_NO"/>
	<result property="rownum" column="ROWNUM"/>
	<result property="pl_name" column="MY_NAME"/>
	<result property="pl_address" column="MY_ADDRESS"/>
	<result property="pl_tel" column="MY_TEL"/>
	<result property="score" column="MY_SCORE"/>
	<result property="pl_reserve" column="MY_RESERVE"/>
</resultMap>
	<select id = "reserveMine" resultMap = "reserveResultMap">
		SELECT
				A. RESERVE_NO AS 예약번호
				, B. MY_NAME AS 매장명
			FROM RESERVATION A
			JOIN MY_LIST B
			ON A.MY_NO = B.MY_NO
--JOIN USER C
--ON B.USER_NO = C.USER_NO
--WHERE B.USER_NO = ?
--;
	</select>

	<select id = "reserveInfo" parameterType="_int" resultMap = "reserveResultMap">
		SELECT
				A. MY_NAME
				, TO_CHAR(TO_DATE(B. RESERVE_DAY,'YYMMDD'),'RRRR-MM-DD') AS 예약일
				, B. RESERVE_TIME
			FROM MY_LIST A
			JOIN RESERVATION B
			ON A.MY_NO = B.MY_NO
--JOIN USER C
--ON B.USER_NO = C.USER_NO
--WHERE B.USER_NO = ?
--;
			WHERE B.RESERVE_NO = #{ reserve_no }
	</select>
	
	<insert id="addReserve" parameterType="pl.model.dto.PLReservationDTO">
 INSERT
          INTO RESERVATION A
        (
        A.RESERVE_NO
        , A.RESERVE_DAY
        , A.RESERVE_TIME
        , A.USER_NO
        , A.MY_NO
        )
        VALUES
        (
          SEQ_RESERVE_NO.NEXTVAL
        , #{ reserve_day }
        , #{ reserve_time }
        , 1
        , #{ my_no }
        )
	</insert>

	<update id="editReserve" parameterType="pl.model.dto.PLReservationDTO">
       UPDATE RESERVATION
        SET
      
      , RESERVE_DAY =#{ reserve_day }
        , RESERVE_TIME=#{ reserve_time }
        WHERE RESERVE_NO=#{ reserve_no }
        
        
       
        
	</update>
	
	<delete id="cancelReserve" parameterType="_int">
        DELETE
          FROM RESERVATION
       	 WHERE RESERVE_NO = #{ reserve_no }
        
	</delete>
	
	
	
	
	<delete id="deleteMyList" parameterType="_int">
		DELETE FROM MY_LIST
		WHERE MY_NO = #{ plNo }
	</delete>

</mapper>