<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pl.model.dao.PLDAO">

<resultMap type="pl.model.dto.PLMyListDTO" id="listMap">
	<id property="pl_no" column="MY_NO"/>
	<result property="pl_name" column="MY_NAME"/>
	<result property="pl_address" column="MY_ADDRESS"/>
	<result property="pl_tel" column="MY_TEL"/>
	<result property="score" column="MY_SCORE"/>
	<result property="pl_catecode" column="MY_CATECODE"/>
	<result property="pl_reserve" column="MY_RESERVE"/>
</resultMap>


	<select id="selectAllPlace" resultMap="listMap">
		SELECT * FROM MY_LIST
	</select>

</mapper>